@import "~@angular/material/prebuilt-themes/indigo-pink.css";

::ng-deep .blue-centered-snack {
  background-color: blue;
  color: white;
}

::ng-deep .mat-simple-snackbar {
  justify-content: center !important;
}
